doctype html
html(lang='en')
  head
    script(type='text/javascript', src='/javascripts/jquery-2.1.1.min.js')
    script(type='text/javascript', src='/javascripts/handlebars-v2.0.0.js')
    script(type='text/javascript', src='/javascripts/main.js')
div#register
  input#user(type="text", placeholder="Register a user")
  input#password(type="password", placeholder="Choose a password")
div#lobby
div#room
