<script id="room-view" type="text/x-handlebars-template">
  <h1>Welcome to {{name}} room</h1>
  <br><h2>These dudes are DJing</h2><br>
  {{#each djs}}
    <li>{{this}}</li>
  {{/each}}
  <h2>Audience fools</h2><br>
  {{#each audience}}
    <li>{{this}}</li>
  {{/each}}
  <br>
  </ul>
</script>

<script id="lobby-view" type="text/x-handlebars-template">
  <h1>Welcome to Turntable 2</h1>
  <input id="roomcreate" type=text placeholder="Create a new room">
  {{#each rooms}}
    <li>{{this}}</li>
  {{/each}}
  <br>
</script>
