doctype html
html(lang="en")
  head
    title= pageTitle
  body
    h1 Welcome to the Lobby!
    #container.col
      each room in rooms
        form(action='/join_room', method='get')
          input(type='hidden', name='room', value=room)
          input(type='hidden', name='user', value=user)
          input(type='submit', value=room)
