doctype html
html(lang="en")
  head
    title= pageTitle
  body
    h1 Welcome to the Lobby!
    #container.col
      each room in rooms
        form(action='/join_room',method='get')
          input(type='submit',value=room)
